jellyfin.h.jackrose.co.nz {
	reverse_proxy jellyfin:8096
}

sonarr.h.jackrose.co.nz {
	reverse_proxy gluetun:8989
}
radarr.h.jackrose.co.nz {
	reverse_proxy gluetun:7878
}
prowlarr.h.jackrose.co.nz {
	reverse_proxy gluetun:9696
}
qbittorrent.h.jackrose.co.nz {
	reverse_proxy gluetun:8080
}

mealie.h.jackrose.co.nz {
	reverse_proxy mealie:80
}

wallabag.h.jackrose.co.nz {
	reverse_proxy wallabag:80
}

hass.h.jackrose.co.nz {
	reverse_proxy home-assistant:8123
}
